@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "JetBrains Mono", "Fira Code", ui-monospace, monospace;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
